.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  width: 100%;
  height: 55vh;
}

.card {
  width: 200px;
  height: 400px;
}

.card-image {
  width: 100%;
}

.player {
  display: flex;
  flex-direction: row;
  height: 45vh;
}

.player-hand {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  padding: 20px;
}

.player-founder {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.player-founder-image {
  width: 300px;
  height: 400px;
}

.founder-skill {
  display: flex;
  flex-direction: row;
}

.level-up-button {
  height: 50%
}